/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2094f3;
  --ifm-color-primary-dark: #0d87eb;
  --ifm-color-primary-darker: #0c7fde;
  --ifm-color-primary-darkest: #0a69b7;
  --ifm-color-primary-light: #3aa1f4;
  --ifm-color-primary-lighter: #47a7f5;
  --ifm-color-primary-lightest: #6ebaf7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2094f3;
  --ifm-color-primary-dark: #0d87eb;
  --ifm-color-primary-darker: #0c7fde;
  --ifm-color-primary-darkest: #0a69b7;
  --ifm-color-primary-light: #3aa1f4;
  --ifm-color-primary-lighter: #47a7f5;
  --ifm-color-primary-lightest: #6ebaf7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/**
  BEGIN HOPPR CUSTOM CSS ===
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

@font-face {
  font-family: "Comfortaa";
  src: "https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap";
}

h1,h2,h3,h4 {
	font-family:'Comfortaa';
	font-weight: 800;
}